<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="berbix-cordova-plugin" version="0.0.5">
  <name>Berbix Verify</name>
  <description>Cordova SDK for integrating with Berbix Verify</description>
  <license>Apache 2.0</license>
  <keywords>berbix,identity verification</keywords>
  <js-module src="www/Berbix.js" name="Berbix">
    <clobbers target="berbix" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Berbix">
        <param name="ios-package" value="Berbix" />
      </feature>
    </config-file>
    <source-file src="src/ios/Berbix.swift" />
    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git" />
        <source url="https://github.com/berbix/berbix-ios-spec.git"/>
      </config>
      <pods use-frameworks="true">
        <pod name="Berbix" spec="0.0.23" />
      </pods>
    </podspec>
  </platform>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Berbix">
        <param name="android-package" value="com.berbix.cordova.BerbixPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/android/BerbixPlugin.java" target-dir="src/com/berbix/cordova" />
    <framework src="src/android/berbix.gradle" custom="true" type="gradleReference" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA"/>
      <uses-feature android:name="android.hardware.camera" android:required="true"/>
    </config-file>
    <config-file target="AndroidManifest.xml" mode="merge" parent="/manifest/application">
      <activity android:name="com.berbix.berbixverify.activities.BerbixFlowActivity" android:theme="@style/Theme.AppCompat.Light"/>
    </config-file>
    <framework src="com.android.support:support-v4:28.0.0"/>
    <framework src="com.android.support.constraint:constraint-layout:1.1.3"/>
    <framework src="com.android.support:appcompat-v7:28.0.0"/>
    <framework src="com.berbix:berbixverify:0.0.17"/>
  </platform>
</plugin>
