<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="berbix-cordova-plugin" version="1.0.5">
  <name>Berbix Verify</name>
  <description>Cordova SDK for integrating with Berbix Verify</description>
  <license>Apache 2.0</license>
  <keywords>berbix,identity verification</keywords>
  <js-module src="www/Berbix.js" name="Berbix">
    <clobbers target="berbix" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Berbix">
        <param name="ios-package" value="Berbix" />
      </feature>
    </config-file>
    <source-file src="src/ios/Berbix.swift" />
    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git" />
        <source url="https://github.com/berbix/berbix-ios-spec.git"/>
      </config>
      <pods>
        <pod name="Berbix" spec="1.10.2" />
      </pods>
    </podspec>
  </platform>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Berbix">
        <param name="android-package" value="com.berbix.cordova.BerbixPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/android/BerbixPlugin.java" target-dir="src/com/berbix/cordova" />
    <framework src="src/android/berbix.gradle" custom="true" type="gradleReference" />
    <framework src="com.berbix:berbixverify:2.0.0-beta2"/>
  </platform>
</plugin>
